{% import 'macros/form.html' as form %}

{%- if field.help_text -%}
    {%- if field.get('help_link', false) -%}
        <div class="info-block">
            <i class="fa fa-info-circle"></i>
            {{ h.scheming_language_text(field.help_text) }} <a href="{{ field.help_link }}" target="_blank">{{ field.get('help_link_text', 'link') }}</a>
        </div>
    {%- else -%}
        {{- form.info(
            text=h.scheming_language_text(field.help_text),
            inline=field.get('help_inline', false)
            ) -}}
    {%- endif -%}
{%- endif -%}
